@charset "utf-8";

@import 'compass';
@import 'config';
@import 'function';
@import 'mixin';
@import 'extend';

.invest {
	&.list-content {
		.h3_title {
			h3{
				display:block;
				overflow:hidden;
				padding-right:25px;
				height:25px;
				text-overflow:ellipsis;
				display:-webkit-box;
				-webkit-line-clamp:1;
				-webkit-box-orient:vertical;
			}
		}
	}
	&.view-content .aside {
		padding-bottom:82px;
	}
	.button-content {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
	}
}

.buying-content {
	&.step-01 {
		.box {
			padding-bottom:18px;
			padding-top:18px;
		}
	}
	&.step-02 {
		dl {
			dt {
				line-height: 33px;
			}
		}
	}
	&.step-03 {
	}
	&.step-04 {
	}
}