@import url(common/normalize.css);
@import url(common/helpers.css);
.sub-content .list-content li .item-content .item-info .h3_title .btn-more, .sub-content .list-content li .item-content .item-info .h3_title .icon-rete-d, .sub-content .list-content li .item-content .item-info .h3_title .icon-rete-p, .sub-content .list-content li .item-content .item-info .h3_title .icon-rete-g, .sub-content .list-content li .item-content .item-info .h3_title .icon-rete-s, .sub-content .banner-list .navi-list span, nav .status .icon, nav .status .icon-user-info, .header h1, .header h1 a, .header .btn-menu, .header .btn-back, a.btn-style-star, .step-content ol li { display: block; overflow: hidden; text-indent: -999em; line-height: 0; }

.sub-content .list-content li .item-content .item-visual { overflow: hidden; width: 100%; min-height: 48%; }
.sub-content .list-content li .item-content .item-visual img { display: block; width: 100%; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.sub-content .list-content li .item-content .item-info { overflow: hidden; padding: 0 5%; width: 90%; min-height: 52%; }
.sub-content .list-content li .item-content .item-info .h3_title { position: relative; height: 39px; border-bottom: 1px solid #cdcdcd; }
.sub-content .list-content li .item-content .item-info .h3_title h3 { padding-top: 7px; color: #4a4a4a; font-size: 14px; font-weight: 500; line-height: 25px; text-align: left; }
.sub-content .list-content li .item-content .item-info .h3_title .btn-more { padding: 4px; width: 13px; height: 13px; position: absolute; top: 10px; right: -4px; background-image: url('../images/button/btn_more.png?1444613272'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 13px; }
.sub-content .list-content li .item-content .item-info .h3_title .icon-rete-d { position: absolute; top: 7px; right: 0; width: 25px; height: 25px; background: url('../images/icon/icon-rete-d.png?1444613272') 50% 50% no-repeat; background-size: 25px; }
.sub-content .list-content li .item-content .item-info .h3_title .icon-rete-p { position: absolute; top: 7px; right: 0; width: 25px; height: 25px; background: url('../images/icon/icon-rete-p.png?1444613272') 50% 50% no-repeat; background-size: 25px; }
.sub-content .list-content li .item-content .item-info .h3_title .icon-rete-g { position: absolute; top: 7px; right: 0; width: 25px; height: 25px; background: url('../images/icon/icon-rete-g.png?1444613272') 50% 50% no-repeat; background-size: 25px; }
.sub-content .list-content li .item-content .item-info .h3_title .icon-rete-s { position: absolute; top: 7px; right: 0; width: 25px; height: 25px; background: url('../images/icon/icon-rete-s.png?1444613272') 50% 50% no-repeat; background-size: 25px; }
.sub-content .list-content li .item-content .item-info .info-view { overflow: hidden; }
.sub-content .list-content li .item-content .item-info .info-view dl { float: left; padding-right: 4%; width: 50%; border-bottom: 1px solid #cdcdcd; box-sizing: border-box; }
.sub-content .list-content li .item-content .item-info .info-view dl dt { overflow: hidden; padding-top: 4px; padding-bottom: 5px; color: #888; font-size: 11px; font-weight: 300; line-height: 14px; }
.sub-content .list-content li .item-content .item-info .info-view dl dd { overflow: hidden; }
.sub-content .list-content li .item-content .item-info .info-view dl dd p { padding-bottom: 3px; color: #4a4a4a; font-size: 14px; font-weight: 500; text-align: right; }
.sub-content .list-content li .item-content .item-info .info-view dl dd p.point { color: #3f91cb; }
.sub-content .list-content li .item-content .item-info .info-view dl dd em { font-size: 11px; font-style: normal; }
.sub-content .list-content li .item-content .item-info .info-view dl.even { padding-right: 0; padding-left: 4%; border-left: 1px solid #cdcdcd; }

.sub-content .banner-list .navi-list span { display: inline-block; margin-left: 6px; width: 7px; height: 7px; background-image: url('../images/common/bg_navi_off.png?1444613273'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 7px; }
.sub-content .banner-list .navi-list span:first-child { margin-left: 0; }
.sub-content .banner-list .navi-list span.on { background-image: url('../images/common/bg_navi_on.png?1444613273'); background-position: 50% 50%; background-repeat: no-repeat; }

@font-face { font-family: 'Noto Sans CJK KR'; src: url(../font/NSKR300.woff); font-style: normal; font-weight: 300; }
@font-face { font-family: 'Noto Sans CJK KR'; src: url(../font/NSKR500.woff); font-style: normal; font-weight: 500; }
@font-face { font-family: 'Noto Sans CJK KR'; src: url(../font/NSKR400.woff); font-style: normal; font-weight: 400; }
#nav { position: fixed; top: 0; left: 0; z-index: 1; width: 220px; height: 100%; min-height: 100%; background-color: #fff; visibility: hidden; }

.iscroll { overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; }

nav { position: relative; width: 220px; }
nav .status { width: 100%; height: 45px; border-bottom: 1px solid #306d98; background-color: #3f91cb; }
nav .status .icon { position: absolute; top: 0; left: 0; width: 45px; height: 45px; }
nav .status .login { background: url('../images/icon/icon_nav_close.jpg?1444613272') 0 0 no-repeat; background-size: 45px; }
nav .status .logout { background: url('../images/icon/icon_nav_open.jpg?1444613272') 0 0 no-repeat; background-size: 45px; }
nav .status-msg { color: #fff; font-size: 12px; font-weight: 400; padding: 16px 47px 16px 55px; line-height: 14px; }
nav .status .icon-user-info { position: absolute; top: 0; right: 0; padding: 13px 15px; width: 17px; height: 18px; background-image: url('../images/icon/icon_user_info.jpg?1444613272'); background-position: 50% 50%; background-repeat: no-repeat; background-color: #3f91cb; background-size: 17px; }
nav .usr-info dl { overflow: hidden; padding: 12px 14px; width: 192px; height: 40px; background-color: #545454; border-top: 1px solid #777; }
nav .usr-info dl:first-child { border-top: 0 none; }
nav .usr-info dl dt { margin-bottom: 8px; padding-left: 18px; height: 14px; color: #fff; font-size: 11px; font-weight: 300; text-align: left; line-height: 1.2em; }
nav .usr-info dl dt.icon-point { background: url('../images/icon/icon-point.png?1444613272') 0 0 no-repeat; background-size: 14px; }
nav .usr-info dl dt.icon-won { background: url('../images/icon/icon-won.png?1444613272') 0 0 no-repeat; background-size: 14px; }
nav .usr-info dl dd { color: #fff; font-size: 15px; font-weight: 400; text-align: right; line-height: 18px; }
nav .usr-info dl dd em { font-size: 12px; font-style: normal; }
nav .category ul { overflow: hidden; }
nav .category li { float: left; width: 100%; border-bottom: 1px solid #cdcdcd; }
nav .category li a { display: block; padding: 17px 0 15px 45px; width: 80%; color: #4a4a4a; font-size: 12px; font-weight: 400; text-decoration: none; }
nav .category li .icon-cs { background: url('../images/icon/icon-cs.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-deal { background: url('../images/icon/icon-deal.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-gift { background: url('../images/icon/icon-gift.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-glass { background: url('../images/icon/icon-glass.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-service { background: url('../images/icon/icon-service.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-user { background: url('../images/icon/icon-user.png?1444613272') 14px 15px no-repeat; background-size: 14px; }
nav .category li .icon-basket { background: url('../images/icon/icon-basket.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-star { background: url('../images/icon/icon-star.png?1444613272') 14px 15px no-repeat; background-size: 15px; }
nav .category li .icon-market { background: url('../images/icon/icon-market.png?1444613272') 14px 15px no-repeat; background-size: 15px; }

.top-search { background-color: #fff; }
.top-search select { overflow: hidden; margin: 0; padding: 0; width: 100%; height: 0; border-style: none; }
.top-search .selectbox_title { padding: 12px 10px 12px 10px; width: 100%; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 1em; text-align: left; vertical-align: middle; box-sizing: border-box; background-image: url('../images/common/bg_select_arrow_d.png?1444613273'); background-position: 97% 50%; background-repeat: no-repeat; background-size: 12px; border-bottom: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; cursor: pointer; }
.top-search .selectbox_title strong { display: block; overflow: hidden; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 1em; word-break: break-all; }
.top-search .selectbox_title_active { background-image: url('../images/common/bg_select_arrow_u.png?1444613273'); background-position: 97% 50%; background-repeat: no-repeat; }

/* select box option */
div.selectbox_option { display: none; overflow: hidden; position: relative; width: 100%; box-sizing: border-box; z-index: 10; }
div.selectbox_option .scroll { overflow: hidden; }
div.selectbox_option li { list-style: none; border-bottom: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; background-color: #fff; }
div.selectbox_option a { display: block; overflow: hidden; padding: 12px 0 12px 10px; color: #4a4a4a; font-size: 12px; font-weight: 400; text-decoration: none; word-break: break-all; }
div.selectbox_option a.on, div.selectbox_option a:hover { background-color: #e9e9e9; }

/* select box multiple */
span.selectbox_multiple { display: inline-block; overflow: hidden; }
span.selectbox_multiple ul li { display: block; overflow: hidden; padding: 12px 0 12px 10px; color: #4a4a4a; font-size: 12px; font-weight: 400; word-break: break-all; }

body { font-family: "Noto Sans CJK KR", Dotum, Helvetica, AppleGothic, sans-serif; font-size: 10px; line-height: 1; color: #4a4a4a; background-color: #e9e9e9; }

.check-box { height: 18px; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 18px; }
.check-box input[type=checkbox] { display: none; border: 0; }
.check-box label { display: block; padding-left: 23px; background-image: url('../images/../images/icon/bg_chk_off.jpg?1444722643'); background-position: 0 0; background-repeat: no-repeat; background-size: 18px; }
.check-box input[type=checkbox]:checked + label { background-image: url('../images/../images/icon/bg_chk_on.jpg?1444722653'); background-position: 0 0; background-repeat: no-repeat; }

.radio-box { height: 18px; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 18px; }
.radio-box input[type=radio] { display: none; border: 0; }
.radio-box label { display: block; padding-left: 23px; background-image: url('../images/../images/icon/bg_radio_off.png?1444722733'); background-position: 0 0; background-repeat: no-repeat; background-size: 18px; }
.radio-box input[type=radio]:checked + label { background-image: url('../images/../images/icon/bg_radio_on.png?1444722732'); background-position: 0 0; background-repeat: no-repeat; }

input[type=text], input[type=number], input[type=date], input[type=email], input[type=password] { margin-left: 2px; padding-right: 10px; padding-left: 10px; width: 100%; height: 35px; color: #4a4a4a; font-size: 14px; font-weight: 400; box-sizing: border-box; border: 1px solid #cdcdcd; }
input[type=text]:first-child, input[type=number]:first-child, input[type=date]:first-child, input[type=email]:first-child, input[type=password]:first-child { margin-left: 0; }
input[type=text]:read-only, input[type=number]:read-only, input[type=date]:read-only, input[type=email]:read-only, input[type=password]:read-only { color: #888; background-color: #f9f9f9; }

select { padding-right: 10px; padding-left: 10px; width: 100%; height: 35px; color: #4a4a4a; font-size: 14px; font-weight: 400; text-align: left; box-sizing: border-box; background-color: #fff; border: 1px solid #cdcdcd; vertical-align: middle; box-sizing: border-box; background-image: url('../images/common/bg_select_arrow_d.png?1444613273'); background-position: 97% 50%; background-repeat: no-repeat; background-size: 12px; border-bottom: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

textarea { width: 100%; height: 100px; box-sizing: border-box; border: 1px solid #cdcdcd; }

#thank { position: relative; z-index: 1; width: 100%; min-width: 320px; }

.header { position: fixed; top: 0; left: 0; width: 100%; height: 45px; background-color: #3f91cb; border-bottom: 1px solid #306d98; z-index: 100; }
.header h1 { height: 45px; background-image: url('../images/common/bg_logo.png?1444613273'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 64px; }
.header h1 a { position: absolute; top: 0; left: 50%; margin-left: -37px; padding: 6px 5px; width: 64px; height: 33px; }
.header h2 { height: 45px; color: #fff; font-size: 16px; font-weight: 400; line-height: 48px; text-align: center; }
.header .btn-menu { position: absolute; top: 10px; left: 10px; padding: 6px 5px; width: 17px; height: 14px; background-image: url('../images/button/btn_all_menu.png?1444613272'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 17px; }
.header .btn-back { position: absolute; top: 10px; left: 10px; padding: 6px 5px; width: 18px; height: 16px; background-image: url('../images/button/btn_back.png?1444613272'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 18px; }

.thank-content { position: relative; padding-top: 46px; }
.thank-content .icon-like-calculator { background: url('../images/icon/icon-like-calculator.png?1444613272') 0 50% no-repeat; background-size: 14px; }
.thank-content .icon-like-calendar { background: url('../images/icon/icon-like-calendar.png?1444613272') 0 50% no-repeat; background-size: 14px; }
.thank-content .icon-like-clock { background: url('../images/icon/icon-like-clock.png?1444613272') 0 50% no-repeat; background-size: 14px; }
.thank-content .icon-like-coin { background: url('../images/icon/icon-like-coin.png?1444613272') 0 50% no-repeat; background-size: 13px; }
.thank-content .icon-like-percent { background: url('../images/icon/icon-like-percent.png?1444613272') 0 50% no-repeat; background-size: 14px; }
.thank-content .icon-like-doc { background: url('../images/icon/icon-like-doc.png?1444613272') 0 50% no-repeat; background-size: 11px; }
.thank-content .icon-like-units { background: url('../images/icon/icon-like-units.png?1444613272') 0 50% no-repeat; background-size: 14px; }

.main-content { overflow: hidden; position: relative; }

.sub-content { overflow: hidden; position: relative; background-color: #fff; }
.sub-content .list-content { background-color: #e9e9e9; padding: 10px; }
.sub-content .list-content ul { overflow: hidden; width: 100%; }
.sub-content .list-content li { float: left; margin-top: 10px; width: 100%; }
.sub-content .list-content li:first-child { margin-top: 0; }
.sub-content .list-content li .item-content { padding-bottom: 15px; width: 100%; min-height: 277px; background-color: #fff; border: 1px solid #cdcdcd; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
.sub-content .banner-list { position: relative; overflow: hidden; margin: 0 auto; width: 100%; height: 100%; z-index: 1; }
.sub-content .banner-list .banner-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.sub-content .banner-list .banner-item { text-align: center; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.sub-content .banner-list .banner-item img { display: block; width: 100%; }
.sub-content .banner-list .navi-list { position: absolute; bottom: 0; left: 0; width: 100%; height: 17px; text-align: center; text-align: center; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; }
.sub-content .banner-list .mask-close { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 50; }
.sub-content .banner-list .mask-close p { position: absolute; top: 50%; left: 0; margin-top: -22px; width: 100%; color: #a9a9a9; font-size: 16px; font-weight: 400; line-height: 20px; text-align: center; }
.sub-content .nodata-box { padding-top: 200px; padding-bottom: 200px; background-color: #e9e9e9; }
.sub-content .nodata-box p { color: #a9a9a9; font-size: 14px; font-weight: 400; text-align: center; }
.sub-content .view-content { overflow: hidden; position: relative; }
.sub-content .view-content .info { overflow: hidden; padding: 15px 20px 5px 20px; }
.sub-content .view-content .info .h3_title { position: relative; border-bottom: 1px solid #cdcdcd; }
.sub-content .view-content .info .h3_title h3 { margin-bottom: 5px; color: #4a4a4a; font-size: 14px; font-weight: 500; line-height: 25px; text-align: left; }
.sub-content .view-content .info .h3_title p { overflow: hidden; margin-bottom: 15px; padding-left: 29px; height: 25px; color: #888; font-size: 11px; font-weight: 300; line-height: 25px; }
.sub-content .view-content .info .h3_title p.icon-rete-d { background: url('../images/icon/icon-rete-d.png?1444613272') 0 50% no-repeat; background-size: 25px; }
.sub-content .view-content .info .h3_title p.icon-rete-p { background: url('../images/icon/icon-rete-p.png?1444613272') 0 50% no-repeat; background-size: 25px; }
.sub-content .view-content .info .h3_title p.icon-rete-g { background: url('../images/icon/icon-rete-g.png?1444613272') 0 50% no-repeat; background-size: 25px; }
.sub-content .view-content .info .h3_title p.icon-rete-s { background: url('../images/icon/icon-rete-s.png?1444613272') 0 50% no-repeat; background-size: 25px; }
.sub-content .view-content .info .info-view { overflow: hidden; padding-top: 12px; padding-bottom: 12px; }
.sub-content .view-content .info .info-view dl { overflow: hidden; margin-top: 15px; }
.sub-content .view-content .info .info-view dl dt { float: left; padding-left: 18px; width: 28.21429%; color: #888; font-size: 11px; font-weight: 300; line-height: 20px; }
.sub-content .view-content .info .info-view dl dt.point { line-height: 30px; }
.sub-content .view-content .info .info-view dl dd { float: left; width: 65.35714%; }
.sub-content .view-content .info .info-view dl dd p { color: #4a4a4a; font-size: 14px; font-weight: 500; text-align: right; line-height: 1.4em; }
.sub-content .view-content .info .info-view dl dd p.point { color: #3f91cb; font-size: 20px; }
.sub-content .view-content .info .info-view dl dd p.point em { font-size: 16px; }
.sub-content .view-content .info .info-view dl dd p em { font-size: 11px; font-style: normal; }
.sub-content .view-content .info .info-view dl:first-child { margin-top: 0; }
.sub-content .view-content .info .info-view.border-top-line { border-top: 1px solid #cdcdcd; }
.sub-content .view-content .info .info-view.border-bottom-line { border-bottom: 1px solid #cdcdcd; }
.sub-content .view-content .aside { overflow: hidden; padding: 0 20px 20px 20px; border-top: 1px solid #414141; }
.sub-content .view-content .aside dl { overflow: hidden; padding-top: 20px; }
.sub-content .view-content .aside dl dt { overflow: hidden; margin-bottom: 15px; padding-left: 18px; width: 100%; color: #888; font-size: 11px; font-weight: 300; line-height: 14px; }
.sub-content .view-content .aside dl dd { overflow: hidden; width: 100%; }
.sub-content .view-content .aside dl dd p { color: #4a4a4a; font-size: 14px; font-weight: 300; line-height: 20px; text-align: left; }

.align-content { overflow: hidden; padding: 10px 10px 5px 10px; background-color: #e9e9e9; }
.align-content div.field-middle { float: left; width: 49%; margin-left: 2%; }
.align-content div.field-middle:first-child { margin-left: 0; }

.button-content { overflow: hidden; padding: 10px; background-color: #e9e9e9; border-top: 1px solid #cdcdcd; }
.button-content div.field-middle { float: left; width: 40%; margin-left: 2%; }
.button-content div.field-middle:first-child { margin-left: 0; }
.button-content div.field-small { float: left; width: 15%; margin-left: 2%; }
.button-content div.field-small:first-child { margin-left: 0; }
.button-content i.icon-camera { display: inline-block; position: relative; top: 2px; left: 0; margin-right: 5px; width: 16px; height: 14px; background-image: url('../images/button/btn_camera.png?1445480165'); background-position: 0 50%; background-repeat: no-repeat; background-size: 16px; }

a.btn-type { display: block; padding: 10px 15px; width: 100%; color: #fff; font-size: 16px; font-weight: 500; text-align: center; text-decoration: none; line-height: 25px; background-color: #177ac0; box-sizing: border-box; }

a.btn-color-01 { background-color: #545454; }
a.btn-color-02 { background-color: #177ac0; }
a.btn-color-03 { background-color: #3f91cb; }
a.btn-color-04 { background-color: #d2d2d2; }

a.btn-style-star { height: 45px; background-image: url('../images/button/btn_star.png?1444613272'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 17px; }

.step-content { overflow: hidden; padding: 15px 15px 17px 15px; }
.step-content ol { overflow: hidden; }
.step-content ol li { float: left; width: 25%; border-bottom: 3px solid #e9e9e9; }
.step-content ol li.on { border-bottom: 3px solid #3f91cb; }

.tab-step-content { margin-bottom: 15px; border-bottom: 3px solid #e9e9e9; }
.tab-step-content ol { overflow: hidden; position: relative; top: 3px; left: 0; }
.tab-step-content ol li { float: left; width: 33%; text-align: center; }
.tab-step-content ol li.field-middle { width: 50%; }
.tab-step-content ol li a { display: inline-block; padding-top: 10px; padding-bottom: 10px; color: #888; font-size: 12px; font-weight: 400; line-height: 20px; text-decoration: none; }
.tab-step-content ol li.on a { color: #3f91cb; border-bottom: 3px solid #3f91cb; }

.buying-content { overflow: hidden; padding-right: 15px; padding-left: 15px; }
.buying-content h3.h3_tit { color: #4a4a4a; font-size: 11px; font-weight: 400; line-height: 20px; border-bottom: 1px solid #414141; padding-bottom: 10px; }
.buying-content h4.h4_tit { float: left; margin-top: 15px; margin-left: 5.62%; width: 64.42%; color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 20px; }
.buying-content small { display: block; color: #888; font-size: 10px; font-weight: 400; }
.buying-content .box { overflow: hidden; position: relative; border-bottom: 1px solid #e9e9e9; }
.buying-content .box.line-black { border-bottom: 1px solid #414141; }
.buying-content .box.line-dashed { border-bottom: 1px dashed #e9e9e9; }
.buying-content .tab-box { overflow: hidden; position: relative; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #e9e9e9; }
.buying-content .visual-box { overflow: hidden; position: relative; border-bottom: 1px solid #e9e9e9; }
.buying-content .txt-box { margin-bottom: 8px; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 18px; }
.buying-content .error-box { display: block; padding-top: 10px; color: #ff5252; font-size: 10px; font-weight: 400; }
.buying-content .error-box i.icon-error { display: inline-block; position: relative; top: -1px; left: 0; margin-right: 2px; width: 6px; height: 6px; background-image: url('../images/common/bg_error_point.png?1444613273'); background-position: 0 50%; background-repeat: no-repeat; background-size: 6px; }
.buying-content .visual { float: left; margin-top: 15px; margin-bottom: 15px; width: 29.96%; }
.buying-content .visual img { display: block; width: 100%; }
.buying-content .field-middle { float: left; width: 50%; }
.buying-content dl { overflow: hidden; margin-top: 5px; }
.buying-content dl:first-child { margin-top: 0; }
.buying-content dl dt { float: left; width: 29.96%; color: #3f91cb; font-size: 11px; font-weight: 400; line-height: 22px; }
.buying-content dl dd { float: left; margin-left: 5.62%; width: 64.42%; }
.buying-content dl dd p { color: #4a4a4a; font-size: 14px; font-weight: 500; line-height: 22px; }
.buying-content dl dd p.point { color: #177ac0; }
.buying-content dl dd p em { font-size: 12px; }
.buying-content dl dd small { display: block; color: #888; font-size: 10px; font-weight: 400; line-height: 14px; }
.buying-content .table-box { overflow: hidden; padding-top: 15px; padding-bottom: 15px; }
.buying-content .table-box h4 { float: left; margin-bottom: 10px; color: #4a4a4a; font-size: 14px; font-weight: 400; }
.buying-content .table-box a.btn-address { display: block; overflow: hidden; position: absolute; top: 0; right: 0; padding-top: 10px; padding-bottom: 10px; color: #fff; font-size: 14px; font-weight: 500; line-height: 15px; text-align: center; background-color: #545454; box-sizing: border-box; text-decoration: none; }
.buying-content .table-box table { table-layout: fixed; width: 100%; }
.buying-content .table-box table .col-01 { width: 75px; }
.buying-content .table-box table tbody tr:last-child td { padding-bottom: 0; }
.buying-content .table-box table tbody th { padding-top: 9px; color: #3f91cb; font-size: 11px; font-weight: 400; line-height: 14px; vertical-align: top; }
.buying-content .table-box table tbody th label { display: block; }
.buying-content .table-box table tbody td { position: relative; padding-bottom: 10px; }
.buying-content .table-box table tbody td.charge-box p { overflow: hidden; }
.buying-content .table-box table tbody td.charge-box p a.btn-type { float: left; width: 28%; font-size: 12px; line-height: 15px; }
.buying-content .table-box table tbody td.call-box p { overflow: hidden; }
.buying-content .table-box table tbody td.call-box p a.btn-type { float: right; width: 36%; font-size: 12px; line-height: 15px; }
.buying-content .table-box table tbody td p { padding-top: 5px; color: #4a4a4a; font-size: 12px; font-weight: 400; line-height: 18px; }
.buying-content .table-box table tbody td p:first-child { padding-top: 0; }
.buying-content .table-box table tbody td p.check-box { padding-top: 10px; color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 18px; }
.buying-content .table-box table tbody td p.zip-code input[type=text] { text-align: center; font-size: 14px; }
.buying-content .table-box table tbody td p em { display: inline-block; margin-left: 3px; color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 20px; text-align: right; vertical-align: middle; }
.buying-content .table-box table tbody td small { padding-top: 5px; color: #888; font-size: 11px; line-height: 18px; }
.buying-content .table-box table tbody td .error-box { text-align: right; }
.buying-content .table-box table tbody td input[type=text], .buying-content .table-box table tbody td input[type=number], .buying-content .table-box table tbody td input[type=date], .buying-content .table-box table tbody td input[type=email], .buying-content .table-box table tbody td input[type=password] { margin-left: 5px; padding-right: 10px; padding-left: 10px; width: 100%; height: 35px; color: #4a4a4a; font-size: 12px; font-weight: 400; box-sizing: border-box; border: 1px solid #cdcdcd; }
.buying-content .table-box table tbody td input[type=text]:first-child, .buying-content .table-box table tbody td input[type=number]:first-child, .buying-content .table-box table tbody td input[type=date]:first-child, .buying-content .table-box table tbody td input[type=email]:first-child, .buying-content .table-box table tbody td input[type=password]:first-child { margin-left: 0; }
.buying-content .table-box table tbody td input[type=text]:read-only, .buying-content .table-box table tbody td input[type=number]:read-only, .buying-content .table-box table tbody td input[type=date]:read-only, .buying-content .table-box table tbody td input[type=email]:read-only, .buying-content .table-box table tbody td input[type=password]:read-only { color: #4a4a4a; background-color: #f9f9f9; }
.buying-content .table-box table tbody td input[type=text].addr, .buying-content .table-box table tbody td input[type=number].addr, .buying-content .table-box table tbody td input[type=date].addr, .buying-content .table-box table tbody td input[type=email].addr, .buying-content .table-box table tbody td input[type=password].addr { font-size: 12px; }
.buying-content .table-box table tbody td input[type=text].amount, .buying-content .table-box table tbody td input[type=number].amount, .buying-content .table-box table tbody td input[type=date].amount, .buying-content .table-box table tbody td input[type=email].amount, .buying-content .table-box table tbody td input[type=password].amount { text-align: right; font-size: 14px; }
.buying-content .table-box table tbody td input[type=text].amount:read-only, .buying-content .table-box table tbody td input[type=number].amount:read-only, .buying-content .table-box table tbody td input[type=date].amount:read-only, .buying-content .table-box table tbody td input[type=email].amount:read-only, .buying-content .table-box table tbody td input[type=password].amount:read-only { color: #4a4a4a; background-color: #f9f9f9; }
.buying-content .table-box table tbody td textarea { padding: 6px 9px; width: 100%; height: 126px; color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 18px; box-sizing: border-box; border: 1px solid #cdcdcd; resize: none; }
.buying-content .table-chart { padding-bottom: 15px; }
.buying-content .table-chart table { table-layout: fixed; width: 100%; }
.buying-content .table-chart table .col-01 { width: 75px; }
.buying-content .table-chart table thead th { padding-top: 5px; padding-bottom: 5px; color: #4a4a4a; font-size: 11px; font-weight: 400; line-height: 20px; vertical-align: middle; text-align: center; background-color: #e9e9e9; border-left: 1px solid #fefefe; }
.buying-content .table-chart table thead th:first-child { border-left: 0 none; }
.buying-content .table-chart table tbody td { padding-top: 5px; padding-bottom: 5px; color: #4a4a4a; font-size: 11px; font-weight: 400; line-height: 20px; vertical-align: middle; text-align: center; border-left: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; }
.buying-content .table-chart table tbody td:first-child { border-left: 0 none; }
.buying-content .table-chart table tbody td.pluse { color: #3f91cb; }
.buying-content .table-chart table tbody td.minus { color: #ff5252; }
.buying-content .complete-box { padding-top: 196px; padding-bottom: 50px; background-image: url('../images/common/bg_complete.png?1447227395'); background-position: 50% 50px; background-repeat: no-repeat; background-size: 121px; }
.buying-content .complete-box p { color: #4a4a4a; font-size: 18px; font-weight: 400; text-align: center; }
.buying-content .button-content { padding: 25px 0 15px 0; background-color: #fff; border-top: 0 none; }
.buying-content .button-content .field-middle { width: 49%; }
.buying-content i.category { display: inline-block; margin-right: 2px; padding: 2px 4px; color: #fff; font-size: 10px; font-weight: 500; line-height: 1.2em; text-align: center; background-color: #545454; }



.layer-pop .h3_tit { padding-top: 12px; padding-bottom: 13px; border-bottom: 1px solid #3f91cb; }
.layer-pop .h3_tit h3 { color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 22px; text-align: center; }
.layer-pop .layer-content { padding: 15px 20px 15px 20px; }
.layer-pop .layer-content dl { overflow: hidden; margin-top: 10px; }
.layer-pop .layer-content dl:first-child { margin-top: 0; }
.layer-pop .layer-content dl dt { float: left; width: 50%; color: #3f91cb; font-size: 11px; font-weight: 400; line-height: 22px; }
.layer-pop .layer-content dl dd { float: right; width: 50%; }
.layer-pop .layer-content dl dd p { color: #4a4a4a; font-size: 14px; font-weight: 400; line-height: 22px; }

#mask { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: 50; opacity: 0.5; filter: alpha(opacity=50); }
a { text-decoration:none }
.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
