.enroll h3.h3_tit { padding-top: 20px; }
.enroll.buying-content small { padding-top: 10px; }
.enroll.buying-content .table-box table tbody td p.check-box { padding-top: 7px; }
.enroll .box.button-content { padding-top: 15px; }
.enroll .button-content { width: 100%; box-sizing: border-box; }
