.buying-content.login { background-image: url('/static/images/common/bg_login.png?1450923340'); background-position: 0 0; background-repeat: no-repeat; padding-bottom: 75px; background-size: 100%; }
.buying-content.login .login-box { padding-top: 180px; background-image: url('/static/images/common/bg_logo_color.png?1450682170'); background-position: 50% 76px; background-repeat: no-repeat; background-size: 126px; }
.buying-content.login .login-box p { margin-bottom: 10px; }
.buying-content.login .button-content { padding: 0; background: none; }
.buying-content.login .mobile-group { overflow: hidden; }
.buying-content.login .mobile-group ul { overflow: hidden; padding-top: 15px; padding-bottom: 15px; }
.buying-content.login .mobile-group ul li { float: left; width: 33%; box-sizing: border-box; border-left: 1px solid #fff; }
.buying-content.login .mobile-group ul li:first-child { border-left: 0 none; }
.buying-content.login .mobile-group ul li a { display: block; color: #fff; font-size: 12px; font-weight: 400; line-height: 14px; text-align: center; text-decoration: none; }
.buying-content.id_find h3.h3_tit { padding-top: 20px; }
.buying-content.id_find .table-box table tbody td p.check-box { padding-top: 0; }
.buying-content.id_find .table-box table tbody td p.time-box { color: #888; font-size: 10px; font-weight: 400; line-height: 20px; }
.buying-content.id_find .table-box table tbody td p .mail-address { margin-right: 5px; }
.buying-content.id_find .table-box table tbody td p .btn-type { font-size: 14px; }
.buying-content.id_find .table-box table tbody td p .btn-color-05 { position: absolute; top: 0; right: 0; font-size: 12px; line-height: 15px; }
.buying-content.id_find .table-box table tbody td .error-box { text-align: left; }
.buying-content.password_find h3.h3_tit { padding-top: 20px; }
.buying-content.password_find .table-box table tbody td p.check-box { padding-top: 0; }
.buying-content.password_find .table-box table tbody td p.time-box { color: #888; font-size: 10px; font-weight: 400; line-height: 20px; }
.buying-content.password_find .table-box table tbody td p .mail-address { margin-right: 5px; }
.buying-content.password_find .table-box table tbody td p .btn-type { font-size: 14px; }
.buying-content.password_find .table-box table tbody td p .btn-color-05 { position: absolute; top: 0; right: 0; font-size: 12px; line-height: 15px; }
.buying-content.password_find .table-box table tbody td .error-box { text-align: left; }
