.buying-content.agreement { padding-bottom: 20px; }
.buying-content.agreement .list-box { overflow: hidden; }
.buying-content.agreement .list-box ul li { float: left; width: 100%; border-bottom: 1px solid #e9e9e9; }
.buying-content.agreement .list-box ul li a { display: block; padding-top: 15px; padding-bottom: 15px; color: #4a4a4a; font-size: 11px; font-weight: 400; line-height: 20px; background-image: url('/static/images/common/bg_select_arrow_r.png?1450681317'); background-position: 97% 50%; background-repeat: no-repeat; background-size: 7px; text-decoration: none; }
.buying-content.version { overflow: hidden; }
.buying-content.version .version-box { display: block; padding-top: 48px; padding-bottom: 70px; width: 100%; height: 65.5px; background-image: url('/static/images/common/bg_logo_color.png?1450682170'); background-position: 50% 50%; background-repeat: no-repeat; background-size: 126px; }
.buying-content.version .table-box table tbody th { padding-top: 0; }
.buying-content.version .table-box table tbody td { color: #fff; font-size: 14px; font-weight: 500; }
.buying-content.version .table-box table tbody td.newversion { color: #4a4a4a; }
.buying-content.version .table-box table tbody td.present { color: #4a4a4a; }
.buying-content.version .button-content { padding-top: 15px; padding-bottom: 15px; }
.buying-content.licensee { padding-right: 0; padding-left: 0; }
.buying-content.licensee p { padding-left: 7px; color: #888; font-size: 12px; font-weight: 400; line-height: 20px; background-image: url('/static/images/common/bg_dotted.png?1450684681'); background-position: 0 9px; background-repeat: no-repeat; background-size: 2px; }
.buying-content.licensee .licensee-box { overflow: hidden; padding-right: 15px; padding-bottom: 146px; padding-left: 15px; }
.buying-content.licensee .licensee-aside { overflow: hidden; padding: 16px 15px 16px 15px; background-color: #e9e9e9; }
.buying-content.licensee .licensee-aside p { font-size: 11px; line-height: 18px; }
